<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/master-layout}">
<head>
    <title>Library - Home</title>
</head>
<body>
    <div layout:fragment="content" style="padding-top:1em;" class="container">
        <main>
            <span style="font-size: 2em;" class="primary-color">Welcome to Fairfield Library System</span>
            <hr/>
            <h5>Secured Homepage</h5>
        </main>
        </div>
    </body>
</html>