<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fairfield Library Website - Edit Member</title>
  <style>
    a.std-lnk-btn {
      text-decoration:none;color: #000000;border: 1px solid #000000;padding: 0.20em;background-color: #efefef;
    }
    input.std-btn {
      color: #000000;border: 1px solid #000000;padding: 0.35em;background-color: #efefef;
    }
  </style>
</head>
<body>
  <header th:replace="fragments/header :: header"></header>
    <main>
      <h1>Edit Library Member Form</h1>
      <div style="border: 1px solid;padding: 1em;">
        <div>
          Fields marked with asterisk (*) are required.
        </div>
        <br>
        <form method="post" action="/fairfieldlibrary/librarymember/update" th:object="${libraryMember}">
          <fieldset>
            <input name="libraryMemberId" type="hidden" th:value="${libraryMember.libraryMemberId}">
            <div>
              <label>Member Number*</label>
            </div>
            <div>
              <span th:if="${#fields.hasErrors('memberNumber')}" th:errors="*{memberNumber}" style="color:red;"></span>
              <input name="memberNumber" type="text" th:value="${libraryMember.memberNumber}" autofocus>
            </div>
            <div>
              <label>Firstname*</label>
            </div>
            <div>
              <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" style="color:red;"></span>
              <input name="firstname" type="text" th:value="${libraryMember.firstname}" autofocus>
            </div>
            <div>
              <label>Lastname*</label>
            </div>
            <div>
                <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" style="color:red;"></span>
                <input name="lastname" type="text" th:value="${libraryMember.lastname}" autofocus>
            </div>
            <div>
              <label>Phone*</label>
            </div>
            <div>
                <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color:red;"></span>
                <input name="phone" type="text" th:value="${libraryMember.phone}" autofocus>
            </div>
          </fieldset>
          <fieldset>
            <legend>Member Types</legend>
            <label th:each="type : ${libraryMemberTypes}" style="padding-right: 4em;">
            <input style="margin-right: .5em;"
                name="libraryMemberType" type="radio"
                th:value="${type.libraryMemberTypeId}" th:text="${#strings.capitalize(type.name)}"
                th:field="*{libraryMemberType}">
            </label>
          </fieldset>
          <div style="margin-top: 1em;">
            <a class="std-lnk-btn" href="/fairfieldlibrary/librarymember/list">Cancel</a>
            <input class="std-btn" type="reset" value="Reset">
            <input class="std-btn" type="submit" value="Save Member">
          </div>
        </form>
      </div>
    </main>
  </body>
</html>