<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fairfield Library Website - Home</title>
  <style>
    table {
      border: 1px solid;
      border-collapse: collapse;
    }
    table th, table td {
      border: 1px solid;
      padding: 1em;
    }
  </style>
</head>
<body>
  <header th:replace="fragments/header :: header"></header>
  
  <main>
    <h1>
      Search results for '[[${searchString}]]'
    </h1>
    
    <section>
      <form action="/fairfieldlibrary/librarymember/search" method="get">
        <fieldset>
          <legend>Search for Library Members</legend>
          <label>
            You may search for library members
          </label>
          <div>
            <input type="search" name="searchString" id="searchString" th:value="${searchString}" autofocus>
            <button type="submit">Search</button>
          </div>
        </fieldset>
      </form>
    </section>
    <div>
      <p><a href="/fairfieldlibrary/librarymember/new">Add New Member</a></p>
    </div>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Member Number</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Phone</th>
          <th>Membership</th>
          <th>*</th>
          <th>*</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="libraryMember, counter : ${libraryMembers}">
          <th th:text="${counter.count}+${'.'}"></th>
          <td th:text="${libraryMember.memberNumber}"></td>
          <td th:text="${libraryMember.Firstname}"></td>
          <td th:text="${libraryMember.Lastname}"></td>
          <td th:text="${libraryMember.Phone}"></td>
          <td th:text="${libraryMember.libraryMemberType.name}"></td>
          <td><a th:href="@{'/fairfieldlibrary/librarymember/edit/{libraryMemberId}'(libraryMemberId=${libraryMember.libraryMemberId})}">Edit</a></td>
          <td><a th:href="@{'/fairfieldlibrary/librarymember/delete/{libraryMemberId}'(libraryMemberId=${libraryMember.libraryMemberId})}">Delete</a></td>
        </tr>
        <tr th:if="${libraryMembers.isEmpty()}">
          <td colspan="7" th:align="center">No members found</td>
        </tr>
      </tbody>
    </table>
  </main>
</body>
</html>